.blog-update-editor .toolbar{
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -8px 8px 13px #ededed,
                8px -8px 13px #ffffff;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 10px;
    row-gap: 15px;
}
.blog-update-editor .toolbar-grp>*{
    margin-right: 10px;
    cursor: pointer;
}
.blog-update-editor .toolbar-grp{
    margin:0 10px;
}
.blog-update-editor select{
    height: 30px;
    border: none;
    width: 6.9rem;
}
