/****************************************************************************
 * @copyright   LIU Zhao
 * @authors     LIU Zhao (liuzhaomax@163.com)
 * @date        2021/7/30 3:45
 * @version     v1.0
 * @filename    CenterContent.css
 * @description 
 ***************************************************************************/

.content {
    font-size: 1.5rem;
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 280px;
    overflow-y: auto;
}

.bc-home {
    cursor: pointer;
    color: #338e6c;
    text-decoration: underline;
}

/*.bc-home:hover {*/
/*    color: #e73ce1;*/
/*}*/